$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$offBlack: #0C0C0C;
$offWhite: #FCFCFC;
$lightBlue: #9DC6E2;
$mediumBlue: #176093;
$darkBlue: #032A46;

.sidebar {
  background-color: $mediumBlue;
}

.content {
  background-color: $lightBlue;
}
